<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" href="/tabs/home">
            <ion-icon aria-hidden="true" name="planet-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="hunt" href="/tabs/hunt">
            <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="settings" href="/tabs/settings">
            <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
